@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}


img {
  width: 600px;
}

a {
  text-decoration: none;
  color: rgb(123, 123, 123);
}

ul {
  list-style: none;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 5px 10px 5px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header .left-links{
  display: flex;
  gap: 20px;
  padding: 0;
  margin-left: 20px;
}

.header .right-links{
  display: flex;
  gap: 20px;
  padding: 0;
  margin-right: 20px;
}

.footer {
  background-color: rgb(243, 243, 243);
  display: flex;
  justify-content: space-between;
  
}

.footer .left-links{
  display: flex;
  padding: 0;
  gap: 20px;
  margin-left: 20px;
  justify-content: center;
}

.footer .right-links{
  display: flex;
  gap: 20px;
  padding: 0;
  margin-right: 20px;
}

.content {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 18px;
}

.buttons {
  display: flex;
  gap: 10px;
}

