.odd {
    background-color: rgb(250, 177, 188);
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

.odd.third-element {
    font-size: 24px;
}

#second-element {
    color: #0000ff;
    font-size: 36px;
}

#fourth-element {
    font-size: 24px;
    font-weight: bold;
    background-color: hsl(120, 73%, 75%);
}