.btn-first,
.btn-second {
    font-size: 28px;
    font-family: Helvetica, "Times New Roman", sans-serif;
}

.btn-first {
    color: white;
    background-color: black;
    font-weight: bold;
}

.btn-second {
    background-color: rgb(247, 247, 84);
}