body {
  background: #bbbbbb;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  border: white solid 5px;
}

.title {
  background: #ade5ff;
  padding: 10px;
  margin: 10px;
  font-size: 25px;
}

.content {
  background: #ade5ff;
  padding: 10px;
  margin: 10px;
}

.button-container {
  background: #ade5ff;
  padding: 10px;
  margin: 10px;
  text-align: center;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  margin: 0 auto;
  padding: 8px;
  filter: drop-shadow(2px 2px 10px #0000006b);
}